@import url("https://use.typekit.net/scx0bil.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: rgb(246, 230, 237);
    font-size: calc(15px + 0.390625vw);
    line-height: 120%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

main {
    background: rgb(246, 230, 237);
}

h2,h3,h4, {
    color: rgb(61, 70, 77);
}

header {
    color: rgb(61, 70, 77);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-family: "swear-display", serif;
    font-weight: 600;
}

section {
    max-height: 100%;
}

div {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-family: "swear-display", serif;
}

h1 {
    color: rgb(15, 14, 14);
    font-size: 80px;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

h2 {
    color: rgb(15, 14, 14);
    font-size: 60px;
    font-weight: 600;
    line-height: 120%;
}

h3 {
    color: rgb(15, 14, 14);
    font-size: 30px;
    font-weight: 600;
    line-height: 120%;
}

h4 {
    color: rgb(15, 14, 14);
    font-size: 28px;
    font-weight: 500;
    line-height: 120%;
}

p {
    color: rgb(15, 14, 14);
    font-family: "forma-djr-deck", sans-serif;
    font-size: 20px;
    font-weight: 500;
}

ul {
    width: 100%;
    line-height: 160%;
}

li {
    text-transform: capitalize;
    color: rgb(15, 14, 14);
    text-align: left;

}

footer {
    background: rgb(246, 230, 237);
    text-align: center;
    margin: 1rem;
    z-index: 998;
}

/* Psuedo class */
/* unvisited link */
nav a:link {
    color: rgb(61, 70, 77);
    text-decoration: none;
    background: rgb(246, 230, 237);
    text-transform: capitalize;
}

/* visited link */
nav a:visited {
    color: rgb(61, 70, 77);
}

/* mouse over link */
nav a:hover {
    color: rgb(255, 0, 127);
}

/* selected link */
nav a:active {
    color: rgb(61, 70, 77);
}

nav a.current {
    text-decoration: underline;
}

/* Grid for my Navbar */
.containerhd {
    min-height: 8vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: center;
    background: rgb(246, 230, 237);
    font-size: 20px;
}


/* CSS for the page index */
/* images */

.arrow {
    position: sticky;
    margin-top: 18vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    transition: cubic-bezier(.25, .1, .25, 1) 0.5s;
}

/* flexbox for my body for the homepage */
.parents1 {
    color: rgb(15, 14, 14);
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    margin-top: 35vh;
    margin-left: 19vh;
}

.h1-s1 {
    font-style: italic;
    font-weight: 500;
    font-size: 140px;
    text-transform: capitalize;
    line-height: 0%;
}

.italic-pink {
    color: rgb(255, 0, 127);
}

.parents1-1 {
    color: rgb(15, 14, 14);
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-top: 15vh;
    margin-right: 18vh;
}

/* section to home page */
.containers2 {
    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.childs2 {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    margin-left: 10vh;
}

.column {
    flex-basis: 40%;
    margin: 10vh;
    text-align: left;
    position: sticky;
}

.column2 {
    flex-basis: 60%;
    padding: 5vh;
    margin-right: 10.5vh;
    box-shadow: rgba(255, 0, 127, 0.4) -5px 5px, rgba(255, 0, 127, 0.3) -10px 10px, rgba(255, 0, 127, 0.2) -15px 15px, rgba(255, 0, 127, 0.1) -20px 20px, rgba(255, 0, 127, 0.05) -25px 25px;
}

.containers3 {
    min-height: 80vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.childs3 {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    margin-left: 10vh;
    margin-bottom: 10vh;
}

.column3 {
    flex-basis: 70%;
    padding: 5vh;
    margin-right: 15vh;
    box-shadow: rgba(255, 0, 127, 0.4) -5px 5px, rgba(255, 0, 127, 0.3) -10px 10px, rgba(255, 0, 127, 0.2) -15px 15px, rgba(255, 0, 127, 0.1) -20px 20px, rgba(255, 0, 127, 0.05) -25px 25px;
}

.padding-p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-ul {
    padding-top: 30px;
}

.padding-ul {
    padding: 10px;
}

.underline-lp {
    text-decoration: underline rgb(246, 230, 237) 2px;
}

.container-ov{
    margin-left: 20vh;
    margin-right: 12.5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
    padding-top: 40px;
    padding-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-ov{
    min-height: 50vh;
    background: url(../images/pink.jpg);
}

/* CSS for the page styleguide */

/* body of my Style guide */
.containersg-title {
    min-height: 10vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.childsg-title {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
}

.titlesg {
    display: flex;
    align-items: center;
    margin-left: 80vh;
}

.imgpinkblue-title {
    background: url(../images/pink.jpg) no-repeat fixed center;
    background-size: cover;
}

.h2sg {
    margin-left: 19vh;
    margin-bottom: 2vh;
    margin-right: 19vh;
}

.h2sg-2 {
    margin-top: 10vh;
}

.h2-boxshadowsg {
    margin-bottom: 4.5vh;
    margin-right: 17vh;
    margin-left: 20.5vh;
    box-shadow: rgba(255, 0, 127, 0.4) 0px 5px, rgba(255, 0, 127, 0.3) 0px 10px, rgba(255, 0, 127, 0.2) 0px 15px, rgba(255, 0, 127, 0.1) 0px 20px, rgba(255, 0, 127, 0.05) 0px 25px;
}

.box-cp {
    min-height: 20vh;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
    margin-left: 20.5vh;
    margin-right: 17vh;
    border-radius: 2px;
}

.flex-boxsg {
    min-height: 20vh;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.childtitle-typo {
    display: flex;
    flex-direction: column;
    position: sticky;
    padding-bottom: 20px;
}

.child-h1234p {
    display: flex;
    flex-direction: column;

    margin-left: 20.5vh;
    margin-top: 9vh;
    margin-right: 15vh;

}

.flex-h1234p {
    padding-bottom: 30px;
}

.flex-texth2 {
    display: flex;
}

.flex-texth3 {
    display: flex;
}

.flex-texth3 {
    display: flex;
}

.flex-texth4 {
    display: flex;
}

.flex-textp {
    display: flex;
}

.box {
    min-height: 100vh;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
    margin-left: 17vh;
    margin-right: 14vh;
}

.itemsg-1 {
    background-color: rgb(246, 230, 237);
    border-radius: 2px;
}

.imgdior {
    background: url(../images/dior.jpg) no-repeat center;
    background-size: cover;
}

.itemsg-2 {
    background-color: rgb(246, 230, 237);
}

.imgdg {
    background: url(../images/dolce-gabana.jpg) no-repeat center;
    background-size: cover;
}

.itemsg-3 {
    background-color: rgb(246, 230, 237);
}

.imgpink {
    background: url(../images/feathers.jpg) no-repeat center;
    background-size: cover;
}

.itemsg-4 {
    background-color: rgb(246, 230, 237);
    border-radius: 2px;
}

.imgpink-blue {
    background: url(../images/pink.jpg) no-repeat center;
    background-size: cover;
}

.itemsg-5 {
    background-color: rgb(246, 230, 237);
    grid-column: 1/3;
    border-radius: 2px;
}

.imgweb1 {
    background: url(../images/website-1.png) no-repeat center;
    background-size: cover;
}

.itemsg-6 {
    background-color: rgb(246, 230, 237);
    grid-column: 3/5;
    border-radius: 2px;
}

.img-web2 {
    background: url(../images/website-2.png) no-repeat center;
    background-size: cover;
}

.imgsg-1 {
    background-color: rgb(246, 230, 237);
}

.imgarrow1 {
    background: url(../images/arrow\ 1.svg) no-repeat center;
    background-size: contain;
}

.imgsg-2 {
    background-color: rgb(246, 230, 237);
}

.imgfigma {
    background: url(../images/figma.png) no-repeat center;
    background-size: contain;
}

.imgsg-3 {
    background-color: rgb(246, 230, 237);
}

.imgxd {
    background: url(../images/xd.png) no-repeat center;
    background-size: contain;
}

.imgsg-4 {
    background-color: rgb(246, 230, 237);
}

.imgai {
    background: url(../images/illustrator.png) no-repeat center;
    background-size: contain;
}

.imgsg-5 {
    background-color: rgb(246, 230, 237);
}

.imgps {
    background: url(../images/photoshop.png) no-repeat center;
    background-size: contain;
}

.imgsg-6 {
    background-color: rgb(246, 230, 237);
}

.imghtml {
    background: url(../images/html.png) no-repeat center;
    background-size: contain;
}

.imgsg-7 {
    background-color: rgb(246, 230, 237);
}

.imgcss {
    background: url(../images/css.png) no-repeat center;
    background-size: contain;
}

.imgsg-8 {
    background-color: rgb(246, 230, 237);
}

.imgjs {
    background: url(../images/javascript.png) no-repeat center;
    background-size: contain;
}

/* CSS for my inspiration page */
.container-inspo {
    min-height: 100vh;
    height: auto;
    margin-top: 20vh;
    margin-left: 20vh;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.child-inspo1 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-right: 8.5vh;
}


.child-inspo2 {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
}

.itemi-group{
    margin-bottom: 10vh;
}

.item-1 {
    max-height: 100vh;
    border-radius: 14px;
    width: 73%;
}

.ul-inspo{
    margin-left: 3vh;
}

.stickme {
    position: sticky;
    top: 15vh;
    flex: 1;
}

.img-web1 {
    background: url(../images/website-1.png) no-repeat center;
    background-size: cover;
}

.img-web2 {
    background: url(../images/website-2.png) no-repeat center;
    background-size: cover;
}

.img-web3 {
    background: url(../images/website-3.png) no-repeat center;
    background-size: cover;
}

.h2-boxshadow {
    padding-right: 4.5vh;
    padding-bottom: 4.5vh;
    margin-bottom: 4.5vh;
    box-shadow: rgba(255, 0, 127, 0.4) 5px 5px, rgba(255, 0, 127, 0.3) 10px 10px, rgba(255, 0, 127, 0.2) 15px 15px, rgba(255, 0, 127, 0.1) 20px 20px, rgba(255, 0, 127, 0.05) 25px 25px;
}