@import url("https://use.typekit.net/scx0bil.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ========================== */
/* ===Destop version first=== */
/* ========================== */
html {
    background: rgb(246, 230, 237);
    font-size: calc(15px + 0.390625vw);
    line-height: 120%;
    scroll-behavior: smooth;
}

main {
    background: rgb(246, 230, 237);
}

h2,
h3,
h4 {
    color: rgb(61, 70, 77);
}

header {
    color: rgb(61, 70, 77);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    font-family: "swear-display", serif;
    font-weight: 600;
}

section {
    max-height: 100%;
}

div {
    display: block;
}

h1,
h2,
h3,
h4 {
    font-family: "swear-display", serif;
}

h1 {
    color: rgb(15, 14, 14);
    font-size: 4rem;
    font-weight: 700;
    line-height: 120%;
    text-transform: capitalize;
}

h2 {
    color: rgb(15, 14, 14);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 120%;
}

h3 {
    color: rgb(15, 14, 14);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 120%;
}

h4 {
    color: rgb(15, 14, 14);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
}

p {
    color: rgb(15, 14, 14);
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
}

ul {
    width: 100%;
    line-height: 160%;
}

li {
    text-transform: capitalize;
    color: rgb(15, 14, 14);
    text-align: left;

}

#trigger {
    font-size: 1.1rem;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9;
    color: rgb(61, 70, 77);
    font-weight: 600;
}

form {
    width: 60%;
    margin: 40px;
}

input[type=text],
input[type=email] {
    width: 600px;
    padding: 10px 5px;
    display: block;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "forma-djr-deck", sans-serif;
    color: rgb(15, 14, 14);
    background-color: #ffffff;
}

input[type=text]:focus,
input[type=email]:focus {
    width: 600px;
    color: rgb(246, 230, 237);
    background-color: rgb(61, 70, 77);
    outline: none;
}

label {
    color: rgb(15, 14, 14);
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 0%;
}

textarea {
    width: 600px;
    height: 100px;
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 1rem;
    resize: none;
    color: rgb(15, 14, 14);
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    transition: all .3s;
}

textarea:focus {
    color: rgb(246, 230, 237);
    background-color: rgb(61, 70, 77);
    outline: none;

}

button {
    display: inline-block;
    width: 300px;
    min-width: 100px;
    background-color: rgb(61, 70, 77);
    color: rgb(246, 230, 237);
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "forma-djr-deck", sans-serif;
    font-weight: 500;
    transition: all .3s;
}

button:hover {
    background-color: rgb(255, 0, 127);
    color: rgb(15, 14, 14);
}

footer {
    background: rgb(246, 230, 237);
    text-align: center;
    margin: 1rem;
    z-index: 998;
}

/* Psuedo class */
/* unvisited link */
nav a:link {
    color: rgb(246, 230, 237);
    text-decoration: none;
    /* background: rgb(246, 230, 237); */
    text-transform: capitalize;
    padding: 10px;
    transition: all 0.3s;
}

/* visited link */
nav a:visited {
    color: rgb(246, 230, 237);
}

/* mouse over link */
nav a:hover {
    color: rgb(246, 230, 237);
    padding: 20px;
}

/* selected link */
nav a:active {
    color: rgb(246, 230, 237);
}

nav a.current {
    color: rgb(255, 0, 127);
}

@keyframes shiftleft {
    from {transform: translateX(0%);}
    to {transform: translateX(-15.5%);}
}

@keyframes shiftright{
    from{transform: translateX(0%);}
    to {    transform: translateX(44%);}
}

/* Grid for my Navbar
.containerhd {
    min-height: 8vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: center;
    font-size: 20px;
} */

/* Hamburger menu */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    background-color: rgb(15, 14, 14);
    background-color: rgba(15, 14, 14, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(246, 230, 237);
    display: block;
    transition: 0.3;
}

.overlay a:hover,
.overlay a:focus {
    color: rgb(255, 0, 127);
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 60px;
    cursor: pointer;
    color: rgb(246, 230, 237);
}

.overlay .closebtn:hover {
    color: rgb(255, 0, 127);
}
/* ============== */
/* CSS index page */
/* ============== */

/* flexbox for my body for the homepage */

.hero {
    width: 100%;
    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.shiftleft {
    animation-name: shiftleft;
    animation-delay: .5s;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.shiftright {
    animation-name: shiftright;
    animation-delay: .5s;
    animation-duration: 4s;
    animation-fill-mode: both;
}

.h1-s1 {
    font-style: italic;
    font-weight: 500;
    font-size: 7rem;
    text-transform: capitalize;
    line-height: 120%;
}

.pink {
    color: rgb(255, 0, 127);
}

.arrow {
    position: sticky;

    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: cubic-bezier(.25, .1, .25, 1) 0.5s;
}


/* section to home page */
.containers2 {
    min-height: 100vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.childs2 {
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    margin-left: 10vh;
}

.column {
    flex-basis: 40%;
    margin: 10vh;
    text-align: left;
    position: sticky;
}

.column2 {
    flex-basis: 60%;
    padding: 5vh;
    margin-right: 10.5vh;
}

.containers3 {
    min-height: 80vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.childs3 {
    min-height: 40vh;
    display: flex;
    flex-direction: row;
    margin-left: 10vh;
    margin-bottom: 10vh;
}

.column3 {
    flex-basis: 70%;
    padding: 5vh;
    margin-right: 15vh;
}

.padding-p {
    padding-top: 10px;
    padding-bottom: 10px;
}

.box-ul {
    padding-top: 30px;
}

.padding-ul {
    padding: 10px;
}

.underline-lp {
    text-decoration: underline rgb(246, 230, 237) 2px;
}

.quote-container {
    height: 100vh;
    background-color: rgb(61, 70, 77);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quotecontainer2{
    margin: 100px;
}

.quote {
    display: inline-flex;
    border-bottom: 1px solid rgb(246, 230, 237);
    padding: 10px;
    color: rgb(246, 230, 237);
}

/* Form */

.form-container {
    height: 100vh;
    margin: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formbox{
    display: flex;
    flex-direction: column;
}

.labelbox{
justify-content: flex-start;
padding: 10px;
}


/* CSS for the page styleguide */

/* body of my Style guide */
.containersg-title {
    min-height: 10vh;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.childsg-title {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 10vh;
}

.titlesg {
    display: flex;
    align-items: center;
    margin-left: 80vh;
}

.imgpinkblue-title {
    background: url(../images/pink.jpg) no-repeat fixed center;
    background-size: cover;
}

.h2sg {
    margin-left: 19vh;
    margin-bottom: 2vh;
    margin-right: 19vh;
}

.h2sg-2 {
    margin-top: 10vh;
}

.box-cp {
    min-height: 20vh;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
    margin-left: 20.5vh;
    margin-right: 17vh;
    border-radius: 2px;
}

.flex-boxsg {
    min-height: 20vh;
    height: auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

}

.childtitle-typo {
    display: flex;
    flex-direction: column;
    position: sticky;
    padding-bottom: 20px;
}

.child-h1234p {
    display: flex;
    flex-direction: column;

    margin-left: 20.5vh;
    margin-top: 9vh;
    margin-right: 15vh;

}

.flex-h1234p {
    padding-bottom: 30px;
}

.flex-texth2 {
    display: flex;
}

.flex-texth3 {
    display: flex;
}

.flex-texth3 {
    display: flex;
}

.flex-texth4 {
    display: flex;
}

.flex-textp {
    display: flex;
}

.box {
    min-height: 100vh;
    height: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
    margin-left: 17vh;
    margin-right: 14vh;
}

.itemsg-1 {
    background-color: rgb(246, 230, 237);
    border-radius: 2px;
}

.imgdior {
    background: url(../images/dior.jpg) no-repeat center;
    background-size: cover;
}

.itemsg-2 {
    background-color: rgb(246, 230, 237);
}

.imgdg {
    background: url(../images/dolce-gabana.jpg) no-repeat center;
    background-size: cover;
}

.itemsg-3 {
    background-color: rgb(246, 230, 237);
}

.imgpink {
    background: url(../images/feathers.jpg) no-repeat center;
    background-size: cover;
}

.itemsg-4 {
    background-color: rgb(246, 230, 237);
    border-radius: 2px;
}

.imgpink-blue {
    background: url(../images/pink.jpg) no-repeat center;
    background-size: cover;
}

.itemsg-5 {
    background-color: rgb(246, 230, 237);
    grid-column: 1/3;
    border-radius: 2px;
}

.imgweb1 {
    background: url(../images/website-1.png) no-repeat center;
    background-size: cover;
}

.itemsg-6 {
    background-color: rgb(246, 230, 237);
    grid-column: 3/5;
    border-radius: 2px;
}

.img-web2 {
    background: url(../images/website-2.png) no-repeat center;
    background-size: cover;
}

.imgsg-1 {
    background-color: rgb(246, 230, 237);
}

.imgarrow1 {
    background: url(../images/arrow\ 1.svg) no-repeat center;
    background-size: contain;
}

.imgsg-2 {
    background-color: rgb(246, 230, 237);
}

.imgfigma {
    background: url(../images/figma.png) no-repeat center;
    background-size: contain;
}

.imgsg-3 {
    background-color: rgb(246, 230, 237);
}

.imgxd {
    background: url(../images/xd.png) no-repeat center;
    background-size: contain;
}

.imgsg-4 {
    background-color: rgb(246, 230, 237);
}

.imgai {
    background: url(../images/illustrator.png) no-repeat center;
    background-size: contain;
}

.imgsg-5 {
    background-color: rgb(246, 230, 237);
}

.imgps {
    background: url(../images/photoshop.png) no-repeat center;
    background-size: contain;
}

.imgsg-6 {
    background-color: rgb(246, 230, 237);
}

.imghtml {
    background: url(../images/html.png) no-repeat center;
    background-size: contain;
}

.imgsg-7 {
    background-color: rgb(246, 230, 237);
}

.imgcss {
    background: url(../images/css.png) no-repeat center;
    background-size: contain;
}

.imgsg-8 {
    background-color: rgb(246, 230, 237);
}

.imgjs {
    background: url(../images/javascript.png) no-repeat center;
    background-size: contain;
}

/* CSS for my inspiration page */
.container-inspo {
    min-height: 100vh;
    height: auto;
    margin-top: 20vh;
    margin-left: 20vh;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.child-inspo1 {
    display: flex;
    flex-direction: column;
    position: sticky;
    margin-right: 8.5vh;
}


.child-inspo2 {
    display: flex;
    flex-direction: column;
    margin-left: 10vh;
}

.itemi-group {
    margin-bottom: 10vh;
}

.item-1 {
    max-height: 100vh;
    border-radius: 14px;
    width: 73%;
}

.ul-inspo {
    margin-left: 3vh;
}

.stickme {
    position: sticky;
    top: 15vh;
    flex: 1;
}

.img-web1 {
    background: url(../images/website-1.png) no-repeat center;
    background-size: cover;
}

.img-web2 {
    background: url(../images/website-2.png) no-repeat center;
    background-size: cover;
}

.img-web3 {
    background: url(../images/website-3.png) no-repeat center;
    background-size: cover;
}

.h2-boxshadow {
    padding-right: 4.5vh;
    padding-bottom: 4.5vh;
    margin-bottom: 4.5vh;
    box-shadow: rgba(255, 0, 127, 0.4) 5px 5px, rgba(255, 0, 127, 0.3) 10px 10px, rgba(255, 0, 127, 0.2) 15px 15px, rgba(255, 0, 127, 0.1) 20px 20px, rgba(255, 0, 127, 0.05) 25px 25px;
}

/* ==================== */
/* ===Tablet version=== */
/* ==================== */
@media only screen and (max-width: 980px) {

    /* CSS header */
    .containerhd {
        min-height: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgb(246, 230, 237);
        font-size: 20px;
    }

    /* CSS index page */
    .hero {
        width: 100%;
        min-height: 100vh;
        height: auto;
    }

    .shiftleft {
        transform: translateX(0%);
    }

    .shiftright {
        transform: translateX(0%);
    }

    .stickme {
        position: ;
    }

    .h1-s1 {
        font-weight: 500;
        font-size: 4rem;
        text-transform: capitalize;
        line-height: 120%;
    }

    .column {
        margin: 0;
        padding: 35px;
        position: static;
    }

    .childs2 {
        flex-direction: column;
        margin: 0;
    }

    .column2 {
        margin: 0;
        padding: 40px;
    }

    .containers3 {
        min-height: auto;
    }

    .childs3 {
        flex-direction: column;
        margin: 0;
    }

    .column3 {
        margin: 0;
        padding: 0 40px;
    }

}

/* ==================== */
/* ===Mobile version=== */
/* ==================== */
@media only screen and (max-width: 390px) {

    /* CSS index page */
    .shiftleft {
        transform: translateX(0%);
    }

    .shiftright {
        transform: translateX(0%);
    }

    .quotecontainer2{
        margin: 100px;
    }
    

    .quote {
        font-size: 30px;
    }
    


}